<!DOCTYPE html>
<html>
<head>
  <%= page_title %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
<%= render 'layouts/header' %>
	
	<% if flash[:notice] %>
		<p class="flash notice">
			<%= flash[:notice] %>
		</p>
	<% end %>

	<% if flash[:alert] %>
		<p class="flash alert">
			<%= flash[:alert] %>
		</p>
	<% end %>

	<div id="container">
		<%= render 'layouts/sidebar' %>
			<%= yield %>
			<%= render 'layouts/footer' %>	
	</div>
</div>

</body>
</html>
